{# empty Twig template #}

{% extends 'admin/easy_admin/main.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px;
      }
      
    </style>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block main %}
    <div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Invoice <small>{{ order.ref }}</small></h4>
                        </div>
                        {#<div class="col-md-6">
                            <div class="text-right">
                                <button class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit </button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-check "></i> Save </button>
                                <button class="btn btn-primary btn-sm"><i class="fa fa-dollar"></i> Make A Payment</button>
                            </div>

                        </div>#}
                    </div>
                </div>
                <div class="panel-body p-xl">
                    <div class="row m-b-xl">
                        <div class="col-sm-6">
                            <h4>{{ order.ref }} </h4>

                            <address>
                                <strong>{{ order.restaurant.name }}</strong><br>
                                {{ order.restaurant.address }}<br>
                                Salinas, CA 93905<br>
                                <abbr title="Phone">P:</abbr> (831) 758-7200
                            </address>
                            <form class="form-horizontal" action="{{path('assign')}}" method="post">
                                <input type="hidden" name="order" value="{{order.id}}" />
                                {% if order.messenger %}
                                    <div class="form-group">
                                        <select name="deliver" class="form-control" onchange="this.form.submit();" disabled="disabled">
                                            <option>Livreur de la commande</option>
                                            {% for d in delivers %}
                                                <option value="{{d.id}}" {{ order.messenger ? order.messenger.id == d.id ? 'selected' : '' : '' }}>{{d.firstname}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                        
                                        {% else %}
                                            
                                            {% for d in delivers %}
                                                <div class="checkbox">
                                                    <label><input type="checkbox" class="i-checks" name="delivers[]" value="{{d.id}}" 
                                                        {%for prop in order.DeliveryPropositions %}
                                                            {{ prop.deliver.id == d.id ? 'checked disabled' : ''}}
                                                        {% endfor %}> {{d.firstname}} </label>
                                                </div>
                                            {% endfor %}

                                            <div class="col-sm-8" style="margin-top:5px;">
                                                <button class="btn btn-primary" type="submit">Alerter les livreurs</button>
                                            </div>
                                            
                                {% endif %}
                            </form>
                        </div>
                        <div class="col-sm-6 text-right">
                            <span>To:</span>
                            <address>
                                <strong>{{ order.client.lastname }} {{ order.client.firstname }}</strong><br>
                                60 Mortensen Avenue<br>
                                Salinas, CA 123343<br>
                                <abbr title="Phone">P:</abbr> {{ order.client.phoneNumber }}
                            </address>
                            <p>
                                <span><strong>Invoice Date:</strong> {{ order.dateCreated|date('D, d M Y') }}</span><br/>
                                {#<span><strong>Due Date:</strong> May 24, 2016</span>#}
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Item List</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ord in order.orderdetails %}
                                <tr>
                                    <td>
                                        <div><strong>{{ord.menu.name}}</strong></div>
                                        <small>
                                            {{ord.menu.description}}
                                        </small>
                                    </td>
                                    <td>{{ord.quantity}}</td>
                                    <td>{{ord.price}}</td>
                                    <td>{{ord.price * ord.quantity}}</td>
                                </tr>
                            {%endfor%}

                            </tbody>
                        </table>
                    </div>
                    <div class="row m-t">
                        <div class="col-md-4 col-md-offset-8">
                            <table class="table table-striped text-right">
                                <tbody>
                                <tr>
                                    <td><strong>Sub Total :</strong></td>
                                    <td>{{ total }} <span>€</span></td>
                                </tr>
                                {#<tr>
                                    <td><strong>TAX :</strong></td>
                                    <td>$235.98</td>
                                </tr>#}
                                <tr>
                                    <td><strong>TOTAL :</strong></td>
                                    <td>{{ total }} <span>€</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="m-t"><strong>Comments</strong>
                                It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

<div id="map"></div>
</div>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
      var map;
      var france = {lat: 48.864716, lng: 2.349014};
      var iconBase = '/images/icons/';
      var icons = {
        livreur: {
            icon: iconBase + 'abattoirs-tradi.png'
        },
        restaurant:{
            icon: iconBase + 'restaurant_icone.png'
        }
    };
    
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: france,
          zoom: 8
        });
        var dels = [];
        {% if delivers %}
            {% for del in delivers %}
                var o = {
                    'name':"{{ del.username }}",
                    'lat': "{{ del.latitude }}",
                    'lng': "{{ del.longitude }}",
                    'phone': "{{ del.PhoneNumber }}",
                    'address': "{{ del.Address }}"
                };
                dels.push(o);
            {% endfor %}
        {% endif %}
            
        var resto = {
            'name' : "{{ order.restaurant.name }}",
            'lat' : "{{ order.restaurant.Latidude }}",
            'lng': "{{ order.restaurant.Longitude }}",
            'city': "{{ order.restaurant.city }}",
            'adr': "{{ order.restaurant.address }}"
        };
        
        // Marker du restaurant
        var mResto = new google.maps.Marker({
            position: {lat: parseFloat(resto.lat), lng: parseFloat(resto.lng)},
            map: map,
            title: resto.name,
            icon: icons.restaurant.icon,
            draggable: false
        });
        google.maps.event.addListener(mResto, 'click', (function (mResto) {
                return function () {
                    var html = '<div class="content-pin">' +resto.name;
                    html += '<ul class="list-unstyled">';
                    html += '<li><strong>Ville</strong> : '+resto.city+'</li>';
                    html += '<li><strong>Adresse</strong> : '+resto.adr+'</li>';
                    html += '</ul></div>';
                    map.panTo(mResto.getPosition());
                    infowindow.setContent(html);
                    infowindow.open(map, mResto, html);

                        };
            })(mResto));
        
        // The marker, des liveurs
        var icon = icons.livreur.icon;
        var infowindow = new google.maps.InfoWindow();
        for(var i=0, c=dels.length; i<c; i++){
            var marker = new google.maps.Marker({
                position: {lat: parseFloat(dels[i].lat), lng: parseFloat(dels[i].lng)},
                map: map,
                title: dels[i].name,
                draggable: false,
                content: dels[i].name,
                icon: icon
            });
            
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    var html = '<div class="content-pin">' +dels[i].name;
                    html += '<ul class="list-unstyled">';
                    html += '<li><strong>Phone</strong> : '+dels[i].phone+'</li>';
                    html += '<li><strong>Adresse</strong> : '+dels[i].address+'</li>';
                    html += '</ul></div>';
                    map.panTo(marker.getPosition());
                    infowindow.setContent(html);
                    infowindow.open(map, marker, html);

                        };
            })(marker, i));
        }
        
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9qWr1Xq89haWKgy_cAmyEqMJ_ZonMWJA&callback=initMap"
    async defer></script>
    
    {# icheck #}
    <script scr="{{ asset('iCheck/icheck.min.js') }}"></script>
{% endblock body_javascript %}
