{% extends 'admin/easy_admin/main.html.twig' %}


{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('fooTable/css/footable.core.min.css') }}">
{% endblock %}

{% block main %}
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th data-toogle="true">Nom</th>
                                    <th>
                                        Nombre de livraison durant la/les 
                                        <form style="display: inline;">
                                            <select name="period" onchange="this.form.submit();">
                                                {% for i in 1..24 %}
                                                    <option value="{{i}}" {{ period == i ? 'selected="selected"' : ''}}>{{i}}</option>
                                                {%endfor%}
                                            </select>
                                        </form>
                                            dernière(s) heure(s)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if delivers|length %}
                                    {% for d in delivers %}
                                    <tr>
                                        <td>{{d.id}}</td>
                                        <td><a href="#">{{ d.lastname }} {{ d.firstname }}</a></td>
                                        <td>
                                            {#<ol>
                                                {% for lg in d.ShippingLogs %}
                                                    <li><span class="text-info">{{ lg.makeAt }}</span></li>
                                                {% endfor %}
                                            </ol>#}
                                            <span class="badge badge-info">{{d.deliveryDuring(period)}}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    {%else%}
                                        Aucun résultat trouvé
                                {%endif%}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('fooTable/dist/footable.all.min.js') }}"></script>
    <script>

    $(function () {

        // Initialize Example 1
        $('#example1').footable();


    });

</script>

{% endblock body_javascript %}