{# empty Twig template #}
{% extends 'admin/easy_admin/main.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px;
      }
      
    </style>
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block main %}
    <div class="content animate-panel">
        <div id="map"></div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        function trace_client(){
            $.ajax({
                url: $('body').data('base-url') + 'admin/map-delivers',
                type: 'get'
            }).done(function(resp){
                console.log(resp);
                var iconBase = '/images/icons/';
                var icons = {
                    livreur: {
                        icon: iconBase + 'livreur_icone_leonel.png'
                    },
                    restaurant:{
                        icon: iconBase + 'restaurant_icone_leonel.png'
                    }
                };
                var icon = icons.livreur.icon;
                var infowindow = new google.maps.InfoWindow();
                for(var i=0, c=resp.length; i<c; i++){
                    console.log(resp[i].lat);
                    var marker = new google.maps.Marker({
                        position: {lat: parseFloat(resp[i].lat), lng: parseFloat(resp[i].lng)},
                        map: map,
                        title: resp[i].name,
                        draggable: false,
                        content: resp[i].name,
                        icon: icon
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            var html = '<div class="content-pin">' +resp[i].name;
                            html += '<ul class="list-unstyled">';
                            html += '<li><strong>Phone</strong> : '+resp[i].phone+'</li>';
                            html += '<li><strong>Adresse</strong> : '+resp[i].address+'</li>';
                            html += '</ul></div>';
                            map.panTo(marker.getPosition());
                            infowindow.setContent(html);
                            infowindow.open(map, marker, html);

                                };
                    })(marker, i));
                }
                {#for(var i=0, c=resp.length; i<c; i++){
                    var o = {
                        'name':resp[i].name,
                        'lat': resp[i].lat,
                        'lng': resp[i].lng,
                        'phone': resp[i].phone,
                        'address': resp[i].address
                    };
                    dels.push(o);
                }#}
            }).fail(function(jqXHR){
                console.log(jqXHR);
            });
        }
        
    </script>
    <script>
        var map;
        var france = {lat: 48.864716, lng: 2.349014};
        
        var dels = [];
        {% if delivers %}
            {% for del in delivers %}
                var o = {
                    'name':"{{ del.name }}",
                    'lat': "{{ del.lat }}",
                    'lng': "{{ del.lng }}",
                    'phone': "{{ del.phone }}",
                    'address': "{{ del.address }}"
                };
                dels.push(o);
            {% endfor %}
        {% endif %}
    
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: france,
          zoom: 12
        });
        
        
        // The marker, des liveurs
        
        
        trace_client();
        setInterval(trace_client, 30000);
        
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlHJyOaa1i7sl_VvSJ-MR3w5uAT3M_UgQ&callback=initMap"
    async defer></script>
    
    {# icheck #}
{% endblock body_javascript %}