{# empty Twig template #}
<h2>Bonjour {{ name }}</h2>,

<p>Vous avez une nouvelle commande à livrer. Veuillez vous connectez à l'app pour accepter ou décliner.</p>
<p> Detail de commande </p>
<ul>
    <li>Reférence : {{ order.ref }}</li>
    <li>Adresse : {{ order.address }}</li>
    <li>Code postal : {{ order.cp }}</li>
    <li>Ville : {{ order.city }}</li>
</ul>