<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>{% block page_title %}{% endblock %} - Allo Zoé</title>
        <link rel="stylesheet" href="{{ asset('allozoe/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('allozoe/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body data-base-url="{{url('homepage')}}">
        <header class="top-header">
            <div class="blck-logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" /></a>
            </div>
            <div class="blck-menu">
                <ul>
                    <li class="active">
                        <i class="fa fa-home"></i>
                        <span><a href="{{ path('homepage') }}">Accueil</a></span>
                        <i class="underline"></i>
                    </li>
                    <li>
                        <i class="fa fa-home"></i>
                        <span><a href="{{ path('commander') }}">Commander</a></span>
                        <i class="underline"></i>
                    </li>
                    <li>
                        <i class="fa fa-home"></i>
                        <span><a href="{{path('contact')}}">Contact</a></span>
                        <i class="underline"></i>
                    </li>
                    <li>
                        <i class="fa fa-home"></i>
                        <span><a href="{{path('front_login')}}">Connexion</a></span>
                        <i class="underline"></i>
                    </li>
                </ul>
            </div>
            
            
            
        </header>
        {% block carousel %}{% endblock %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="pied">
            <div class="container footer">
                <div class="row">
                    <div class="col-md-6 footer-1">
                        <p>Mail : contact@allozoe.fr</p>
                        <p>Tel : 07 85 76 97 81</p>
                    </div>
                    <div class="col-md-6 footer-2">
                        <div class="footer-img"><img src="{{ asset('images/paiement-300x53.png') }}" alt="img-payment" /></div>
                        <div class="footer-menu">
                            <ul class="list-inline">
                                <li><a href="#">Accueil</a></li>
                                <li><a href="#">Commandez</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="footer-links">
                            <ul class="list-inline"><li>Mentions légales</li></ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </footer>
                
                
                
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}       
    </body>
</html>
