<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>{% block page_title %}{% endblock %} - Allo Zoé</title>
        <link rel="stylesheet" href="{{ asset('allozoe/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/dosismedium.css') }}">
        <link rel="stylesheet" href="{{ asset('allozoe/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body data-base-url="{{url('homepage')}}">
        <header class="top-header">
            <div class="blck-logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" /></a>
            </div>
            <div class="blck-menu">
                {% set current_path = app.request.get('_route') %}
                <ul>
                    <li {{ current_path == 'homepage' ? 'class="active"' : ''}}>
                        <i class="fa fa-home"></i>
                        <span><a href="{{ path('homepage') }}">Accueil</a></span>
                        <i class="underline"></i>
                    </li>
                    <li {% if current_path in ['commander', 'restau', 'checkout'] %}class="active"{%endif%}>
                        <i class="fa fa-shopping-cart"></i>
                        <span><a href="{{ path('commander') }}">Commander</a></span>
                        <i class="underline"></i>
                    </li>
                    <li {{ current_path == 'contact' ? 'class="active"' : ''}}>
                        <i class="fa fa-envelope"></i>
                        <span><a href="{{path('contact')}}">Contact</a></span>
                        <i class="underline"></i>
                    </li>
                    {#<li>
                        <i class="fa fa-home"></i>
                        <span><a href="{{path('front_login')}}">Connexion</a></span>
                        <i class="underline"></i>
                    </li>#}
                </ul>
                <i class="fa fa-bars"></i>
                <i class="fa fa-close"></i>
            </div>
            
            
            
        </header>
        {% block carousel %}{% endblock %}
        
            <main>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }} alert alert-{{ label }} text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}


                {% block body %}{% endblock %}
            </main>
            <footer class="pied">
            <div class="container footer">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 footer-1">
                        <p>Mail : contact@allozoe.fr</p>
                        <p>Tel : 07 85 76 97 81</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 footer-2">
                        <div class="footer-img"><img src="{{ asset('images/paiement-300x53.png') }}" alt="img-payment" /></div>
                        <div class="footer-menu">
                            <ul class="list-inline">
                                <li><a href="{{path('homepage')}}">Accueil</a></li>
                                <li><a href="{{path('commander')}}">Commandez</a></li>
                                <li><a href="{{path('contact')}}">Contact</a></li>
                                <li><a href="{{path('mention_legale')}}">Mentions légales</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </footer>
                
                
                
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDlHJyOaa1i7sl_VvSJ-MR3w5uAT3M_UgQ" type="text/javascript"></script>
        
        <script>
            
            var url = "{{base}}";
            function initializeAutocomplete(id) {  
                var element = document.getElementById(id);  

                if (element) {    
                    var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
                    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
                }
            }
            
            
            function onPlaceChanged() {  
                var place = this.getPlace();
                // console.log(place);  // Uncomment this line to view the full object returned by Google API.

                for (var i in place.address_components) {    
                  var component = place.address_components[i];    

                  for (var j in component.types) {  
                    // Some types are ["country", "political"]      
                    var type_element = document.getElementById(component.types[j]);      

                    if (type_element) {        
                      type_element.value = component.long_name;
                    }    
                  }  
                }
                
                console.log(place);
                var longitude = document.getElementById("longitude");
                var latitude = document.getElementById("latitude");
                var location = document.getElementById("user_input_autocomplete_address");
                longitude.value = place.geometry.location.lng();
                latitude.value = place.geometry.location.lat();
                
                localStorage.setItem('search_resto_lat_arround', latitude.value);
                localStorage.setItem('search_resto_lng_arround', longitude.value);
                
                window.location.href = url+'?lieu='+location.value+'&lng='+longitude.value+'&lat='+latitude.value;
            }
            
            google.maps.event.addDomListener(window, 'load', function() {  
                initializeAutocomplete('user_input_autocomplete_address');
              });
        </script>
        {% block javascripts %}
        {% endblock %}       
    </body>
</html>
