{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block page_title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}">
    <style>
        .fg-slider {
            height: 500px;
        }
    </style>
{% endblock %}

{% block carousel %}
    <!-- SLIDER -->
            <div class="fg-slider" id="slider-1">
                <div class="fg-content text-center">
                    <p>Hi There... I'm Sarah Smith</p>
                    <a href="#about-me" class="btn hover">
                        <i class="fa fa-angle-right" aria-hidden="true"></i> More about me...</a>
                </div>
                <img src="{{ asset('images/slide-1.jpg') }}" alt="">

                <div class="fg-content text-center">
                    <p>Hi There... I'm Sarah Smith</p>
                    <a href="#about-me" class="btn hover">
                        <i class="fa fa-angle-right" aria-hidden="true"></i> More about me...</a>
                </div>
                <img src="{{ asset('images/slide-2.jpg') }}" alt="">
            </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for restau in restaurants %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <div style="background-image: url({% if not restau.image %}{{ asset('images/menu/dish.jpg')}}{%else%}{{ asset('images/restaurant/')}}{{restau.image}}{%endif%}); height:200px; background-size:cover;"></div>
                        
                            <div class="caption">
                                <h4><a href="{{ path('restau', {'id': restau.id}) }}">{{restau.name}} {% if restau.address %}({{restau.address}} {{restau.city}}){%endif%}</a></h4>
                                {#<p>{{ restau.description }}</p>#}
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/slider.js') }}"></script>
    <script>
        new FgSlider('slider-1', {
            autoplay: true, // autoplay on / off
            effect: 'slide', // fade, scale, slide, slide-top
            duration: 5000, // duration till the next slide
            bullets: true, // show / hide bullets
        });
    </script>
{% endblock %}