{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block page_title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}">
    <style>
        .fg-slider {
            height: 500px;
        }
        @media(max-width: 1024px){
    .fg-slider {
    height: 390px;
}
}

@media(max-width: 768px){
    .fg-slider {
    height: 297px;
}
}

@media(max-width: 375px){
    .fg-slider {
        height: 150px;
    }
    .je-commande {
        border: 5px solid;
        padding: 10px 20px;
        font-size: 16px;
        top: -25px;
    }
}

@media (max-width: 414px){
    .fg-slider {
        height: 153px;
    }
    .je-commande {
        border: 5px solid;
        padding: 13px 20px;
        font-size: 16px;
        top: -33px;
    }
}

@media(max-width: 360px){
    .fg-slider {
        height: 140px;
    }
}

@media(max-width: 320px){
    .fg-slider {
        height: 125px;
    }
    .je-commande {
        border: 5px solid;
        padding: 10px 15px;
        color: #aac330;
        font-size: 15px;
        top: -23px;
    }
}
    </style>
{% endblock %}

{% block carousel %}
    
        <!-- SLIDER -->
        <div class="fg-slider" id="slider-1">
            <div class="fg-content text-center">
                {#<p>Hi There... I'm Sarah Smith</p>
                <a href="#about-me" class="btn hover">
                <i class="fa fa-angle-right" aria-hidden="true"></i>More about me...</a>#}
            </div>
            <img src="{{ asset('images/banner1.png') }}" alt="">

            <div class="fg-content text-center">
                {#<p>Hi There... I'm Sarah Smith</p>
                <a href="#about-me" class="btn hover">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> More about me...</a>#}
            </div>
            <img src="{{ asset('images/banner2.png') }}" alt="">

            <div class="fg-content text-center">
                {#<p>Hi There... I'm Sarah Smith</p>
                <a href="#about-me" class="btn hover">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> More about me...</a>#}
            </div>
            <img src="{{ asset('images/banner3.jpeg') }}" alt="">
        </div>
    
{% endblock %}

{% block body %}
    <a href="{{path('commander')}}" style="text-decoration:none;"><div class="je-commande">Je commande</div></a>
    <div class="block-infos">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <div class="div-img"><img src="{{asset('images/fire-130x130.png')}}" alt="image"></div>
                    <div class="bool-title">Chaud</div>
                    <p class="descript">
                        Nos véhicules sont équipés afin de conserver vos plats au chaud.
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="div-img">
                        <img src="{{asset('images/cold-130x130.png')}}" alt="image">
                    </div>
                    <div class="bool-title">Froid</div>
                    <p class="descript">
                        Nos véhicules sont équipés afin de conserver vos plats au froid.
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="div-img">
                        <img src="{{asset('images/light-130x130.png')}}" alt="image">
                    </div>
                    <div class="bool-title">Ecologie</div>
                    <p class="descript">
                        Nous protégeons la planète en vous livrant avec nos voitures éléctriques.
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="div-img">
                        <img src="{{asset('images/chrono-130x130.png')}}" alt="image">
                    </div>
                    <div class="bool-title">Rapidité</div>
                    <p class="descript">
                        Nous livrons vos envies en un temps limité.
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="div-img">
                        <img src="{{asset('images/lock-130x130.png')}}" alt="image">
                    </div>
                    <div class="bool-title">Sécurité</div>
                    <p class="descript">
                        Nous assurons la sécurité alimentaire de vos plats.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-pub">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 iphone"><img src="{{asset('images/iphone.png')}}"></div>
                <div class="col-md-6 col-sm-6">
                    <div class="first-block ">
                        <p><img class="allozoe" src="{{ asset('images/allo_zoe_logo_blanc.png') }}"/> ARRIVE PROCHAINEMENT SUR VOTRE TELEPHONE</p>
                        <p class="text-center"><img class="img-app" src="{{asset('images/App-portable.png')}}"</p>
                    </div>
                    <div class="second-block">
                        <p>VOUS POUVEZ COMMANDER PENDANT CE TEMPS SUR NOTRE SITE EN LIGNE !</p>
                        <p><form method="get" action="{{ path('commander') }}"><button class="btn btn-order" type="submit">COMMANDEZ</button></form></p>
                    </div>
                </div>
            </div>
            <div></div> 
        </div>
    </div>
                    
    <div class="block-social-network">
        <h3 class="social">
            Retrouver nous sur
        </h3>
        <ul class="list-inline">
            {#<li>
                <a href="#"><img src="{{ asset('images/twitter.png') }}"</a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('images/instagram.png') }}"</a>
            </li>#}
            <li>
                <a href="https://www.facebook.com/llozoe/"><img src="{{ asset('images/facebook.png') }}"</a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/slider.js') }}"></script>
    <script>
        new FgSlider('slider-1', {
            autoplay: true, // autoplay on / off
            effect: 'slide', // fade, scale, slide, slide-top
            duration: 5000, // duration till the next slide
            bullets: true, // show / hide bullets
            responsive: true
        });
    </script>
{% endblock %}