{% extends 'base.html.twig' %}

{% block banner %}
    <div id="carousel" class="carousel">
        <ul class="carousel-inner" style="margin-left:0px;">
            <li class="carousel-item active">
                <figure>
                    <img src="/images/restaurant/background3.jpg" alt="">
                    <figcaption class="caption">
                        <div class="caption-description">
                            <p class="header-text-1">{{restaurant.name}} {% if restaurant.address %}({{restaurant.address}}){%endif%}</p>
                            <br><br>
                            <p class="text-default">
                                € 
                                {% for sp in restaurant.restaurantSpecialities %}
                                    • {{sp.category.name}} 
                                {% endfor %}
                                
                            </p>
                        </div>     
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>

    {% if restaurant.menus|length > 0 %}
        <div class="type-menu-bar">
            <ul class="list-inline">
                {%for menu in restaurant.menus%}
                    <li><a href="#" class="active">{{menu.typeMenu.name}}</a></li>
                    {%endfor%}
            </ul>
        </div>
    {%endif%}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {%for menu in restaurant.menus %}
                    <div class="col-sm-6">
                        <div class="box">
                            <div class="blck-descp">
                                <div class="title text-uppercase">{{menu.name}}</div>
                                <br>
                                <div class="descript">
                                    {{menu.description|slice(0, 20)}} ...
                                </div>
                                <br><br>
                                <div class="price">
                                    {{menu.price}} €
                                </div>
                            </div>

                            <div class="blck-picture">
                                <img class="img-responsive" src="{% if not menu.image %}{{ asset('images/menu/dish.jpg')}}{%else%}{{ asset('images/menu/')}}{{menu.image}}{%endif%}" alt="photo">
                            </div>
                        </div>
                    </div>

                {%endfor%}
            </div>
            <div class="col-md-4">
                <div class="box-payment">
                    <button class="btn btn-success">Paiement</button>
                </div>
                <div class="box-basket">
                    Ajoutez des articles à votre panier et ils s'y afficheront
                </div>
            </div>
        </div>
    </div>
{% endblock %}