{% extends 'base.html.twig' %}

{% block banner %}
    <div id="carousel" class="carousel">
        <ul class="carousel-inner" style="margin-left:0px;">
            <li class="carousel-item active">
                <figure>
                    <img src="/images/restaurant/background3.jpg" alt="">
                    <figcaption class="caption">
                        <div class="caption-description">
                            <p class="header-text-1">{{restaurant.name}} {% if restaurant.address %}({{restaurant.address}}){%endif%}</p>
                            <br><br>
                            <p class="text-default">
                                € 
                                {% for sp in restaurant.restaurantSpecialities %}
                                    • {{sp.category.name}} 
                                {% endfor %}

                            </p>
                        </div>     
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>

    {% if restaurant.menus|length > 0 %}
        <div class="type-menu-bar">
            <ul class="list-inline">
                {%for menu in restaurant.menus%}
                    <li><a href="#" class="active">{{menu.typeMenu.name}}</a></li>
                    {%endfor%}
            </ul>
        </div>
    {%endif%}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {%for menu in restaurant.menus %}
                    <div class="col-sm-6">
                        <div class="box" data-menu="{{ menu.id }}"  data-toggle="modal" data-target="#info">
                            <div class="blck-descp">
                                <div class="title text-uppercase">{{menu.name}}</div>
                                <br>
                                <div class="descript">
                                    {{menu.description|slice(0, 20)}} ...
                                </div>
                                <br><br>
                                <div class="price">
                                    {{menu.price}} €
                                </div>
                            </div>

                            <div class="blck-picture">
                                <div style="background-image: url('{% if not menu.image %}{{ asset('images/menu/dish.jpg')}}{%else%}{{ asset('images/menu/')}}{{menu.image}}{%endif%}'); height:100%;background-size:cover;"></div>
                                {#<img class="img-responsive" src="{% if not menu.image %}{{ asset('images/menu/dish.jpg')}}{%else%}{{ asset('images/menu/')}}{{menu.image}}{%endif%}" alt="photo">#}
                            </div>
                        </div>
                    </div>

                {%endfor%}
            </div>
            <div class="col-md-4">
                <div class="box-payment">
                    <button class="btn btn-success">Paiement</button>
                </div>
                <div class="box-basket">
                    
                    
                </div>
                <div class="box-infos">
                    <span>Ajoutez des articles à votre panier et ils s'y afficheront</span>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="">
                        </div>
                        <section class="col-md-6">
                            <header>
                                <h3 id="menu-name">NOM DU MENU</h3>
                                <p id="menu-description">Marque</p>
                            </header>
                            <main>
                                <div class="block-options">
                                    <div class="blck-option">
                                        <div class="option-title">
                                            <h3>Accompagnements</h3>
                                            <p>Choisissez 1</p>
                                            <span class="badge">Obligatoire</span>
                                        </div>
                                        <div>
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <div class=""><div class="col-sm-1"><input type="radio" name="options"></div><label class="col-sm-8">Option 1</label><label class="col-sm-3"><span class="price">2</span> <span class="currency">€</span></label></div>
                                                    <div class=""><div class="col-sm-1"><input type="radio" name="options"></div><label class="col-sm-8">Option 2</label><label class="col-sm-3"><span class="price">299</span> <span class="currency">€</span></label></div>
                                                    <div class=""><div class="col-sm-1"><input type="radio" name="options"></div><label  class="col-sm-8">Option 3</label><label class="col-sm-3"><span class="price">20</span> <span class="currency">€</span></label></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-info">Pour être informé sur les allergènes présents dans les produits proposés par ce restaurant, cliquez ici.</div>
                            </main>
                            <footer class="footer-menu">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="actionqty minus">
                                            <button>
                                                <svg viewBox="0 0 64 64" width="16px" height="16px" class=" ue-dz"><g><path d="M55 36H9a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h46a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1z"></path></g></svg>
                                            </button>
                                        </div>
                                        <div class="qty">1</div>
                                        <div class="actionqty plus">
                                            <button>
                                                <svg viewBox="0 0 64 64" width="16px" height="16px" class=" ue-dz"><path d="M56 29v6a1 1 0 0 1-1 1H36v19a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1V36H9a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h19V9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v19h19a1 1 0 0 1 1 1z"></path></svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <button class="btn btn-success basket" data-unit-price="9" id="unit-price">Ajouter au panier <span class="amount-menu"></span><span>€</span></button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/order-sys.js') }}"></script>
{% endblock %}