{% extends 'admin/base.html.twig' %}

{% block title %} {{parent()}} Login page {% endblock %}

{% block content %}
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3><strong>Allo Zoé</strong></h3>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                {% if label == 'success' %}
                                    <div class="alert alert-success"><i class="fa fa-bolt"></i> {{ message }}</div>
                                {% elseif label == 'notice' %}
                                    <div class="alert alert-info"><i class="fa fa-bolt"></i> {{ message }}</div>
                                {% elseif label == 'error' %}
                                    <div class="alert alert-danger"><i class="fa fa-bolt"></i> {{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <form action="{{ path('adminlogin') }}" id="loginForm" method="post" >
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="_username" id="username" class="form-control" />
                                <span class="help-block small">Votre email</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Mot de passe</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="_password" id="password" class="form-control" />
                                <span class="help-block small">Votre mot de passe</span>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" class="i-checks" checked />
                                Se souvenir de moi
                                <p class="help-block small">(Si c'est votre ordinateur privé)</p>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
